.app-container {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 1;
    background-color: #77074e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    color: #77074e;
    font-size: 62px;
    margin-bottom: 70px;
}

.login-image {
    width: 100%;
    height: auto;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4; 
    /* margin-bottom: 80px; */

}

.form-background {
background-color: #aa0a6f;
padding: 40px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: center;
width: 30%;
height: 40%;
/* margin-bottom: 50px; */
}

.login-heading {
margin-bottom: 20px;
font-size: 36px;
color: white;
}

.input-group {
margin-bottom: 20px;
text-align: left;
color: white;
margin-right: 10px;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

button {
width: 100%;
padding: 10px;
background-color: #e111de;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
color: black;
margin-left: 8px;
margin-top: 20px;
}

button:hover {
background-color: #e98ece;
color: white;
}
