

h3{
  margin:0 auto;
  padding:0px;
}
body{
    overflow: scroll;
    /* background-image: 'public\images\hu_background2.png'; */
    /* background-repeat: repeat; */
    /* background-size: cover; */
}
.room-booking-container {
    text-align: center;
    margin: 20px;
  }
  
  /* .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter-section button:hover {
    background-color: #0056b3;
  } */
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rooms-section {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    
  }
  
  .room-item {

    /* margin: 20px; */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* width: 200px; */
    text-align: center;
    justify-content: center;
    display:grid;   
  }
  
  .Details{
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description-para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .room-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
    
  }
  .Button-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .book-button {
    /* margin-top: 10px; */
    /* padding: 10px 15px; */
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width:150px;
    height: 50px;
    position:relative;
  }
  
  .book-button:hover {
    background-color: #218838;
  }
  