.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    border: 2px solid #77074e; /* Purple border */
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.navbar-title {
    margin: 0;
    color: #77074e; /* Title color */
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 24px; 
    height: 24px; 
    margin-left: 15px; 
    cursor: pointer; 
    font-size: 24px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 30px; 
    right: 0; /* Align dropdown to the right */
    background-color: white;
    border: 1px solid #77074e; /* Purple border */
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu button {
    background: none;
    border: none;
    padding: 10px;
    width: 90%;
   
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: purple; 
}
